name: Monitor de Citas

on:
  schedule:
    - cron: '*/5 * * * *' # Ejecutar cada 5 minutos
  workflow_dispatch: # Botón manual

jobs:
  check-citas:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3
      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Instalar dependencias
        run: npm install
      - name: Ejecutar Bot
        run: node bot.js
